<!DOCTYPE html>
<html lang="en">
<head>

  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calssimax</title>
  
  <!-- PLUGINS CSS STYLE -->
  <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Owl Carousel -->
  <link href="plugins/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
  <!-- Fancy Box -->
  <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
  <link href="plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
  <link href="plugins/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
  <!-- CUSTOM CSS -->
  <link href="css/style.css" rel="stylesheet">

  <!-- FAVICON -->
  <link href="img/favicon.png" rel="shortcut icon">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="body-wrapper">

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg  navigation">
					<a class="navbar-brand" href="/">
						<img src="/images/logo.JPG" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item active">
								<a class="nav-link" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="dashboard">게시판</a>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									메뉴<span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="category">한식</a>
									<a class="dropdown-item" href="category">일식</a>
									<a class="dropdown-item" href="category">중식</a>
									<a class="dropdown-item" href="category">베트남</a>
									<a class="dropdown-item" href="category">카페</a>
									<a class="dropdown-item" href="submit-coupon">Submit Coupon</a>
									<a class="dropdown-item" href="blog">Blog</a>
									<a class="dropdown-item" href="single-blog">Single Post</a>
								</div>
							</li>
							<li class="nav-item dropdown dropdown-slide">
								<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									추천 <span><i class="fa fa-angle-down"></i></span>
								</a>
								<!-- Dropdown list -->
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto mt-10">
							<li class="nav-item">
								<a class="nav-link login-button" href="index.html">치즈사이다</a>
							</li>
							<li class="nav-item">
								<a class="nav-link add-button" href="#"><i class="fa fa-plus-circle"></i> 리뷰 쓰기</a>
							</li>
						</ul>
					</div>
				</nav>
				<div class="sidebar">
					<!-- Search Widget -->
					<div class="widget search p-0">
						<div class="input-group">
							<input type="text" class="form-control" id="expire" placeholder="Search...">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
						</div>
					</div>

				</div>
		</div>
	</div>
	</div>
</section>
<!--==================================
=            DASHBOARD           =
===================================-->
<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">

			<div class="col-md-12 offset-md-1 col-lg-12 offset-lg-0">
				<!-- Recently Favorited -->
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">자유게시판</h3>
					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
								<th class="text-center">번호</th>
								<th class="text-center">목록</th>
								<th class="text-center">닉네임</th>
								<th class="text-center">댓글 수</th>
								<th class="text-center">time</th>
							</tr>
						</thead>
						<tbody>
							<tr>

								<td class="text-center"td width=150 style="word-break:break-all"><span class="align-bottom">5</span></td>
								<td class="product-details">
									<a class="title" href="single-blog"><strong>같이 점심 드실 분 구해요!!</strong></a>
								<span class="add-id">정건에서 12시에 만나서 점심 드실 분 구합니다~</span>
								<span class="add-id"><strong>장소:</strong>학교 정문 건너</span>
								<span class="add-id"><strong>시간:</strong>6월3일 11:30</span>
								</td>
								<td class="product-category"><span class="categories">치즈사이다
								<span class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="">
													<i class="fa fa-eye"></i>
												</a>		
											</li>
											<li class="list-inline-item">
												<a class="edit" href="">
													<i class="fa fa-pencil"></i>
												</a>		
											</li>
											<li class="list-inline-item">
												<a class="delete" href="">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</span>
								</span>
								</td>
								<td class="text-center" td width=100 style="word-break:break-all"><span class="align-bottom">2</span></td>
								<td class="product-category"><span class="add-id">6/3 10:35</span></td>
							</tr>

							<tr>
								<td class="text-center"><span class="align-bottom">4</span></td>
								<td class="product-details">
									<h3 class="title">도스마스 배달팟 구함@@@@@@@@@@@@ </h3>
									<span class="add-id">자대에서 도스마스 주문할 사람있나요</span>
									<span class="add-id"><strong>장소:</strong>경희대</span>
									<span class="add-id"><strong>시간:</strong>6월2일 12:00</span>
								</td>
								<td class="product-category"><span class="categories">자대지박령
								<span class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="">
													<i class="fa fa-eye"></i>
												</a>
											</li>

										</ul>
									</div>
								</span>
								</span>
								</td>
								<td class="text-center"><span class="align-bottom">6</span></td>
								<td class="product-category"><span class="add-id">6/2 11:26</span></td>
							</tr>

							<tr>
								<td class="text-center"><span class="align-bottom">3</span></td>
								<td class="product-details">
									<h3 class="title">★오늘 밤 10시 야식팟 모집★</h3>
									<span class="add-id">치킨/피자/족발 중에 댓글로 남겨주세요. 학생회관에서 주문합니다!</span>
									<span class="add-id"><strong>장소:</strong>경희대</span>
									<span class="add-id"><strong>시간:</strong>6월1일 22:00</span>
								</td>
								<td class="product-category"><span class="categories">경희대생33
								<span class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="">
													<i class="fa fa-eye"></i>
												</a>
											</li>

										</ul>
									</div>
								</span>
								</span>
								</td>
								<td class="text-center"><span class="align-bottom">12</span></td>
								<td class="product-category"><span class="add-id">6/1 19:02</span></td>
							</tr>

							<tr>
								<td class="text-center"><span class="align-bottom">2</span></td>
								<td class="product-details">
									<h3 class="title"> [영통 맛집 탐방대 모집합니다] </h3>
									<span class="add-id"> 현재 12명 모집완료! 댓글로 카톡 아이디 남겨주세요~!</span>
									<span class="add-id"><strong>장소:</strong>영통 중심 상가</span>
									<span class="add-id"><strong>시간:</strong>5월30일 23:50</span>
								</td>
								<td class="product-category"><span class="categories">치즈사이다
								<span class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="">
													<i class="fa fa-eye"></i>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="edit" href="">
													<i class="fa fa-pencil"></i>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="delete" href="">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</span>
								</span>
								</td>
								<td class="text-center"><span class="align-bottom">15</span></td>
								<td class="product-category"><span class="add-id">5/30 14:23</span></td>
							</tr>

							<tr>
								<td class="text-center"><span class="align-bottom">1</span></td>
								<td class="product-details">
									<h3 class="title">아직 식사 안 하신 분 있나요?</h3>
									<span class="add-id">이따가 정건 앞 정류장에서 만나서 같이 식사할 사람 구합니다~</span>
									<span class="add-id"><strong>장소:</strong>학교 정문 건너</span>
									<span class="add-id"><strong>시간:</strong>5월30일 14:00</span>
								</td>
								<td class="product-category"><span class="categories">배고팡
								<span class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="view" href="">
													<i class="fa fa-eye"></i>
												</a>
											</li>
										</ul>
									</div>
								</span>
								</span>
								</td>
								<td class="text-center"><span class="align-bottom">4</span></td>
								<td class="product-category"><span class="add-id">5/30 13:47</span></td>
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
        <!-- About -->
        <div class="block about">
          <!-- footer logo -->
          <img src="images/logo-footer.png" alt="">
          <!-- description -->
          <p class="alt-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <!-- Link list -->
      <div class="col-lg-2 offset-lg-1 col-md-3">
        <div class="block">
          <h4>Site Pages</h4>
          <ul>
            <li><a href="#">Boston</a></li>
            <li><a href="#">How It works</a></li>
            <li><a href="#">Deals & Coupons</a></li>
            <li><a href="#">Articls & Tips</a></li>
            <li><a href="#">Terms of Services</a></li>
          </ul>
        </div>
      </div>
      <!-- Link list -->
      <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0">
        <div class="block">
          <h4>Admin Pages</h4>
          <ul>
            <li><a href="#">Boston</a></li>
            <li><a href="#">How It works</a></li>
            <li><a href="#">Deals & Coupons</a></li>
            <li><a href="#">Articls & Tips</a></li>
            <li><a href="#">Terms of Services</a></li>
          </ul>
        </div>
      </div>
      <!-- Promotion -->
      <div class="col-lg-4 col-md-7">
        <!-- App promotion -->
        <div class="block-2 app-promotion">
          <a href="">
            <!-- Icon -->
            <img src="images/footer/phone-icon.png" alt="mobile-icon">
          </a>
          <p>Get the Dealsy Mobile App and Save more</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Container End -->
</footer>
<!-- Footer Bottom -->
<footer class="footer-bottom">
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-12">
          <!-- Copyright -->
          <div class="copyright">
            <p>Copyright © 2016. All Rights Reserved</p>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <!-- Social Icons -->
          <ul class="social-media-icons text-right">
              <li><a class="fa fa-facebook" href=""></a></li>
              <li><a class="fa fa-twitter" href=""></a></li>
              <li><a class="fa fa-pinterest-p" href=""></a></li>
              <li><a class="fa fa-vimeo" href=""></a></li>
            </ul>
        </div>
      </div>
    </div>
    <!-- Container End -->
    <!-- To Top -->
    <div class="top-to">
      <a id="top" class="" href=""><i class="fa fa-angle-up"></i></a>
    </div>
</footer>

  <!-- JAVASCRIPTS -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="plugins/tether/js/tether.min.js"></script>
  <script src="plugins/raty/jquery.raty-fa.js"></script>
  <script src="plugins/bootstrap/dist/js/popper.min.js"></script>
  <script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="plugins/slick-carousel/slick/slick.min.js"></script>
  <script src="plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
  <script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
  <script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
  <script src="js/scripts.js"></script>

</body>

</html>